<div class="row">

  <div class="course-item">
    <div class="image-blog">
      <img [src]="" alt="" class="img-fluid" />
    </div>
    <div class="course-br">
      <div class="course-title">
        <h2>
          <a href="#" title=""></a>
        </h2>
      </div>
      <div class="course-desc">
        <p>

        </p>
      </div>
      <div class="course-rating">

        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half"></i>
      </div>
    </div>
    <div class="course-meta-bot">
      <ul>
        <li><i class="fa fa-calendar" aria-hidden="true"></i> 6 Month</li>
        <li><i class="fa fa-users" aria-hidden="true"></i> 56 Student</li>
        <li><i class="fa fa-book" aria-hidden="true"></i> 7 Books</li>
      </ul>
    </div>

  </div>
</div>