  <div class="course-item">

    <div class="image-blog">
      <img src="{{coursesfrompare.course_img}}" alt="" class="img-fluid" />
    </div>

    <div class="course-br">
      <div class="course-title">
        <h2>
          <button *ngIf='user?.role=="instructor"|| user?.role=="admin"' class="btn btn-info"
            routerLink="/course-content/{{coursesfrompare.id}}" title="">{{coursesfrompare.title}}</button>

          <button *ngIf='user?.role=="student"' class="btn btn-info" (click)='ifenroll()'
            title="">{{coursesfrompare.title}}</button>
        </h2>
      </div>
      <div class="course-desc">
        <p>
          {{coursesfrompare.desc}}
        </p>
      </div>

      <!-- <div class="course-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half"></i>
      </div> -->
    </div>

    <div class="course-meta-bot" *ngIf='user?.role=="student"'>
      <!-- <ul class="course-meta-data">
        <li><i class="fa fa-calendar" aria-hidden="true"></i> 3 Month</li>
        <li><i class="fa fa-users" aria-hidden="true"></i> 224 Student</li>
        <li><i class="fa fa-book" aria-hidden="true"></i> 7 Books</li>
      </ul> -->
      <div class="enrollBtn">
        <a (click)='enroll()' class="enroll">Enroll</a>
        <!-- <a *ngIf='url' href={{url}} target="_blank" class="pay">Click For Payment</a> -->
      </div>
    </div>

    <div class="messageBox" *ngIf='mess'>
      <div class="message">
        <!-- {{mess}} -->
        <a routerLink="/my-courses/{{user?.id}}">{{mess}}</a>
      </div>
    </div>

    <div class="messageBox" *ngIf='permission'>
      <div class="permission">{{permission}}</div>
    </div>
