<div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
    <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
       
    
<form (ngSubmit)='login()' >
    <div class="mt-4">
        <label for="email" >email</label>

        <input  class="block mt-1 w-full" type="email" 
        name="email" [(ngModel)]=user.email required />
    </div>
    <div>
        <label for="password" >password</label>

        <input  class="block mt-1 w-full" type="password" 
        name="password" [(ngModel)]=user.password required autofocus />
    </div>
    <button class = 'inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150'>
       login
     </button>
    </form>
</div>
</div>

