<div class="all-title-box section">
  <div class="container text-center">
    <h1>
      About Us<span class="m_1">At Super-Learner, we believe in the simple truth that every student deserves the best
        opportunities in life.</span>
    </h1>
  </div>
</div>

<div id="overviews" class="section">
  <div class="container">
    <!-- <div class="section-title row text-center">
      <div class="col-md-8 offset-md-2">
        <h3>About</h3>
        <p class="lead">
          Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean
          sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
          nec sagittis sem!
        </p>
      </div>
    </div> -->
    <!-- end title -->

    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="message-box">
          <h4>2018 BEST SmartEDU education school</h4>
          <h2>Awards Winner Support Center</h2>
          <p>
            Our mission is to power the education ecosystem with unified technology that helps educators and students
            realize their full potential in their own way. With more than two decades of experience delivering
            innovative, best-in-class education technology, we connect students, teachers, administrators, and parents,
            with the shared goal of improving student outcomes.
          </p>

          <p>
            From the office to the classroom to the home, we help schools and districts efficiently manage state
            reporting and related compliance, special education, finance, human resources, talent, enrollment,
            attendance, funding, learning, instruction, grading, assessments, and analytics–all in one unified platform.
          </p>

          <a routerLink="/teachers" class="hover-btn-new orange"><span>Meet Our Instructors</span></a>
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="post-media wow fadeIn">
          <img src="assets/images/about_02.jpg" alt="" class="img-fluid img-rounded" />
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->
    </div>
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="post-media wow fadeIn">
          <img src="assets/images/about_03.jpg" alt="" class="img-fluid img-rounded" />
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="message-box">
          <h2>Welcome to SmartEDU education school</h2>
          <p>
            Only SmartEDU has the breadth and depth of unified best-in-class solutions to support all aspects of your
            school or district.
          </p>

          <p>
            SmartEDU is your trusted partner with over two decades of experience, including supporting 45M+ students.
          </p>

          <a routerLink="/course" class="hover-btn-new orange"><span>Check Our Courses</span></a>
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<div class="hmv-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
          <h3>Mission</h3>
          <div class="tr-pa">M</div>
          <p>
            SmartEDU has spent the last 10 years learning from our 1,600+ customers and more than 20 million users
            about what products and services classrooms, schools, and entire districts need to be successful.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
          <h3>Vision</h3>
          <div class="tr-pa">V</div>
          <p>
            Learning is not just about teachers and students. SmartEDU allows you to bring everyone
            together—students, teachers, coaches, parents, administrators—with one communication and collaboration
            platform.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
          <h3>History</h3>
          <div class="tr-pa">H</div>
          <p>
            Elementary students don’t learn the same way as college students or adults. Schoology was designed for all
            students—from kindergarten through 12th grade—to be fully engaged with their learning.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-testimonials></app-testimonials>
<!-- end section -->
