.course-item {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 100%;
}

.course-item .image-blog img {
  max-width: 100%;
  height: 250px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.course-br {
  margin-bottom: 7px;
}

.course-title h2 button {
  color: #FFF;
  text-transform: uppercase;
}

.course-desc p {
  color: #555;
  letter-spacing: 1px;
  overflow-wrap: break-word;
}

.course-rating>* {
  color: gold;
}

.course-meta-bot,
.course-br {
  border: none;
}

.course-meta-bot {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
  align-items: center;
  gap: 30px 0;
}

.actionLink {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  padding: 10px 20px;
  cursor: pointer;
  color: #53D2F2;
  text-transform: capitalize;
}

.actionLink:hover {
  background: #19a2c4;
  color: #FFF;
}
