<div class="addCourse" *ngIf='user?.role=="instructor"'>
  <a routerLink='/addcourse/{{user?.id}}'>
    <i class="fas fa-plus fa-2x"></i>
  </a>
  <span class="tooltiptext">Add New Course</span>
</div>
<div class="container section">
  <!-- <div class="my-5"> -->

  <div class="section-title row text-center">
    <div class="col-md-8 offset-md-2">

      <h1 class="sectionTitle">My Courses</h1>

      <hr class="invis" />

      <p class="lead">
        Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean
        sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
        nec sagittis sem!
      </p>
    </div>
  </div>


  <div class="myCoursesContainer row">
    <div class="col-lg-4 col-md-6 col-12 mb-3" *ngFor="let item of data">
      <app-course-view *ngIf='user?.role=="student"' [course]="item.course_instance"></app-course-view>
      <app-course-view *ngIf='user?.role=="instructor"' [course]="item"></app-course-view>
    </div>

  </div>

</div>

<!-- </div> -->
