aside {
  height: 100vh !important;
}

a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
  padding-left: 45px;
  font-size: 16px;
  margin-top: 20px;
}

a.nav-link p {
  margin: 0 !important;
}
