<!-- <app-header></app-header> -->
<div id="overviews" class="section wb">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 offset-md-2">

        <h1 class="sectionTitle">Our Courses</h1>

        <hr class="invis" />

        <p class="lead">
          Get learning management, assessment, and professional development all in one integrated platform. That means
          easier adoption, training, support, and rollout for your district.
        </p>
      </div>
    </div>
    <!-- end title -->

    <div class="coursesContainer row">
      <div *ngFor='let course of courses' class="col-12 col-md-6 col-lg-4">
        <app-course-card [coursesfrompare]='course'></app-course-card>
      </div>
    </div>
  </div>
</div>

<app-testimonials></app-testimonials>
