<div class="wrapper hold-transition sidebar-mini">
  <app-admin-header></app-admin-header>

  <app-admin-sidebar></app-admin-sidebar>


  <div class="content-wrapper">

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1>Instructors</h1>
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                      <li class="breadcrumb-item active">Instructors</li>
                    </ol>
                  </div>
                </div>
              </div>
            </section>
            <div class="card">
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Profile Image</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Birth Date</th>
                      <th>Phone</th>
                      <th>Address</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let instructor of instructors'>
                      <td><img src="{{instructor.profile_pic}}" alt="Course Image"></td>
                      <td>{{instructor.fname}} {{instructor.lname}}</td>
                      <td>{{instructor.email}}</td>
                      <td>{{instructor.b_date}}</td>
                      <td>{{instructor.phone}}</td>
                      <td>{{instructor.address}}</td>
                      <td>
                        <a class="btn btn-outline-danger" (click)='deleteinst(instructor?.id)'
                          >Delete</a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Profile Image</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Birth Date</th>
                      <th>Phone</th>
                      <th>Address</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>

  </div>
  <app-admin-footer></app-admin-footer>
</div>
<router-outlet></router-outlet>
