.side{
    position:fixed;
    top:72px;
    right:0;
    height:100%;
    padding:0;
    z-index: 1;
  }
  
  .scroll-area{
    width:100%;
    height:100%;
    
    
    float:right;
    overflow-y:scroll;
  }
  body{
     
  }