<form style="display: inline;" >
    <input  class=" mt-1 bg-gray-700" 
     name="title"  required />
     <input  class=" mt-1 bg-gray-700" 
     name="desc"  required />
     <input  class=" mt-1 bg-gray-700" 
     name="update"  required />

     <button  class = 'inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150'>
        update</button>
        
    </form>

    <form (ngSubmit)='uploadimg()' method="post" enctype="multipart/form-data">

        <input name='course_img'type="file" (change)="selectedFile($event)"
         >
    <button type="submit">upload</button>
    </form>
    