<div class="container">
    <form  (ngSubmit)='updateData()'>
        <div class="form-group mt-5">
            <label for="title">Title</label>
            <input required ngModel minlength="3" maxlength="10" #title="ngModel" class="form-control" type="text" name="title" [(ngModel)]=course.title id="title">
            <div class="alert alert-danger" *ngIf="title.touched && !title.valid">title is required</div>
            <div class="alert alert-danger" *ngIf="title.touched &&title.errors?.['minlength']">title must be more than 3 chars</div>
            <div class="alert alert-danger" *ngIf="title.touched &&title.errors?.['maxlength']">title must be less than 10 chars</div>
        </div>
        <div class="form-group mt-3">
            <label for="description">Description</label>
            <input required ngModel #description="ngModel" class="form-control" type="text" name="description"  id="description">
            <div class="alert alert-danger" *ngIf="description.touched && !description.valid">description is required</div>
        </div>
        <div class="form-group mt-3">
            <label for="maxScore">Max score</label>
            <input required ngModel #maxScore="ngModel"  class="form-control" type="number" name="maxScore"  id="maxScore">
            <div class="alert alert-danger" *ngIf="maxScore.touched && maxScore.errors?.['required']">E-mail is required</div>
        </div>
    
        
        <button class="btn btn-primary mt-3">update</button>
    </form>
    
    <form class="my-3" (ngSubmit)='uploadimg()' method="post" enctype="multipart/form-data">
        
        <div class="mb-3">
            <label for="course_img" class="form-label">Choose course image</label>
            <input name="course_img" class="form-control" type="file" id="course_img" (change)="selectedFile($event)">
        </div>
        
        <button class="btn btn-primary" type="submit">update image</button>
    </form>
</div>
